## ginore this file ##
*.pth
*.log
*.pyc
*.swp
*.swo
*.pfm
# *.pdf
*_local.sh
tmp
data*
test_script*
sign_plot*
index_plot*
logs*
localsgd_logs*
# plots*
weights
.nfs*
runs
*.ipynb
*.npy
bk/
*.npy*
cifar
exp_savefiles_DDP-Train


audio_data/*
bert/

gpt2/*
.wandb/*
wandb/*
wandb
wandb_sync/*
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb


*.swp
*.npz
*.nfs*
*.jpg

*.DS_Store


exp_savefiles_*



__pycache__
./*/__pycache__
./*/*/__pycache__
./*/*/*/__pycache__
./*/*/*/*/__pycache__
./*/*/*/*/*/__pycache__

# *.txt
*.h5

# data
*.rar
*.csv
*.dat
cifar-10-batches-py
*.tar.gz
*.tar
*.png
*.zip
# *.json



























